/*======================================
=            Others helpers            =
======================================*/

// floatings
//
.cfix,
.clearfix             { @extend %clearfix; }
.f-none, .pull-none   { float: none !important; }
.f-right, .pull-right { float: right !important; }
.f-left, .pull-left   { float: left !important; }

// reset floatings
//
.clr-b { clear: both; }
.clr-r { clear: right; }
.clr-l { clear: left; }

// displays
//
.d-inherit       { display: inherit !important; }
.d-initial       { display: initial !important; }
.d-inline        { display: inline !important; @extend .f-none; }
.d-inline-block  { display: inline-block !important; @extend .f-none; }
.d-block, .show  { display: block !important; }
.d-none, .hidden, [hidden] { display: none !important; }
.d-flex          { display: flex !important; }
.d-inline-flex   { display: inline-flex !important; }
.d-inline-table  { display: inline-table !important; }
.d-list-item     { display: list-item !important; }
// table
.d-table              { display: table !important; }
.d-table-row          { display: table-row !important; }
.d-table-column       { display: table-column !important; }
.d-table-cell         { display: table-cell !important; }
.d-table-row-group    { display: table-row-group !important; }
.d-table-footer-group { display: table-footer-group !important; }
.d-table-header-group { display: table-header-group !important; }
.d-table-column-group { display: table-column-group !important; }
.d-table-caption      { display: table-caption !important; }

// visibility
//
.visible   { visibility: visible; }
.invisible { visibility: hidden; }

// Alignment
//
.va-top    { vertical-align: top !important; @extend .d-table-cell; }
.va-middle { vertical-align: middle !important; @extend .d-table-cell; }
.va-bottom { vertical-align: bottom !important; @extend .d-table-cell; }

// shadow
//
.shadow    { @include box-shadow(1px 1px 1px rgba(#000, .1)); }
.no-shadow { @include box-shadow(none); }

// overflows
//
.ovf-auto    { overflow: auto !important; }
.ovf-visible { overflow: visible !important; }
.ovf-hidden  { overflow: hidden !important; }

// Opacity
//
.opacity-0   { @include opacity(0); }
.opacity-50  { @include opacity(.5); }
.opacity-100 { @include opacity(1); }