/*========================================
=            Paddings Helpers            =
========================================*/

.p-a-none { padding:        0 !important; }
.p-t-none { padding-top:    0 !important; }
.p-r-none { padding-right:  0 !important; }
.p-b-none { padding-bottom: 0 !important; }
.p-l-none { padding-left:   0 !important; }
.p-x-none { padding-right:  0 !important; padding-left:   0 !important; }
.p-y-none { padding-top:    0 !important; padding-bottom: 0 !important; }

.p-a { padding:        $spacer !important; }
.p-t { padding-top:    $spacer !important; }
.p-r { padding-right:  $spacer !important; }
.p-b { padding-bottom: $spacer !important; }
.p-l { padding-left:   $spacer !important; }
.p-x { padding-right:  $spacer !important; padding-left:   $spacer !important; }
.p-y { padding-top:    $spacer !important; padding-bottom: $spacer !important; }

.p-a-md { padding:        ($spacer * 2) !important; }
.p-t-md { padding-top:    ($spacer * 2) !important; }
.p-r-md { padding-right:  ($spacer * 2) !important; }
.p-b-md { padding-bottom: ($spacer * 2) !important; }
.p-l-md { padding-left:   ($spacer * 2) !important; }
.p-x-md { padding-right:  ($spacer * 2) !important; padding-left:   ($spacer * 2) !important; }
.p-y-md { padding-top:    ($spacer * 2) !important; padding-bottom: ($spacer * 2) !important; }

.p-a-lg { padding:        ($spacer * 4) !important; }
.p-t-lg { padding-top:    ($spacer * 4) !important; }
.p-r-lg { padding-right:  ($spacer * 4) !important; }
.p-b-lg { padding-bottom: ($spacer * 4) !important; }
.p-l-lg { padding-left:   ($spacer * 4) !important; }
.p-x-lg { padding-right:  ($spacer * 4) !important; padding-left:   ($spacer * 4) !important; }
.p-y-lg { padding-top:    ($spacer * 4) !important; padding-bottom: ($spacer * 4) !important; }
