//===============================
//=          Variables          =
//===============================

// fonts
//
$font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;

// Colors
//
$white-color  : #fff !default;
$silver-color : #eee !default;
$black-color  : #000 !default;
$border-color : $silver-color !default;
$button-color : #1791A9 !default;

// font weight
//
$weight-light  : 300 !default;
$weight-normal : 500 !default;
$weight-bold   : 700 !default;
$weight-bolder : 900 !default;

// border radius
//
$border-radius-small : 2px !default;
$border-radius-base  : 4px !default;
$border-radius-large : 6px !default;

// Spacer
//
$spacer: 10px !default;
$button-spacer-x: 30px !default;
$button-spacer-y: 16px !default;